* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 1em;
}

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, #592f16da, #0d0d0dcb), url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 100px
}

.text-box {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  font-family: "Bebas Neue";
  color: #fff;
  backface-visibility: hidden;
  margin-bottom: 60px;
}

.heading-primary-main {
  display: block;
  font-size: 80px;
  animation-name: moveInTtB;
  animation-duration: 1000ms;
  animation-timing-function: ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 25px;
  animation-name: moveInBtT;
  animation-duration: 1000ms;
  animation-timing-function: ease-out;
}

@keyframes moveInTtB {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBtT {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 100px;
  transition: all .2s;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 10px #f2dfbb38;
}

.btn:active {
  transform: translateY(0);
  box-shadow: 0 2px 5px #f2dfbb38;
}

.btn-white {
  background-color: #fff;
  color: #592F16
}